<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
                Accueil
            </NavLink>
        </li>
        <!-- Ajoute ici d’autres liens spécifiques -->
    </ul>
</nav>
