@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<!-- Exemple simple d'un bouton logout -->

<li class="nav-item">
    <button class="btn btn-link nav-link" @onclick="Logout">Se déconnecter</button>
</li>

@code {
    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("authToken");
        Navigation.NavigateTo("/login", true);
    }
}
